#bg {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-image: url('./castle1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    color: white;
    text-align: center;
}

.stats {
    position: fixed;
    right: 50%;
    bottom: 20%;
}

button {
    background-image: url("buttonback.png");
    width: 100px;
    height: 100px;
    margin: 25px;
    color: white;
}

p {
    color: white;
    text-align: center;
    font-size: 24px
}
.inside{
	position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-image: url('./inside1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
	color:white;
	text-align: center;
	top:20px;
	font-size: 50px;
}

.hero{
	position:fixed;
	bottom:0;
	left:0;
}
.skeleton{
	position:fixed;
	bottom:0;
	right:0;
}
.skeleton2{
	position:fixed;
	bottom:0;
	right:10%;
}
.gameBar{
	width:100%;
	border:10px solid black;
	list-style:none;
	font-size: 24px;
	color:white;
	background-color: black;
	text-align: center;
}
.final{
	position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-image: url('./Throne_room.gif');
    background-size: cover;
    background-repeat: no-repeat;
}
.boss{
	position:fixed;
	bottom:0;
	right:20%;
}
.playerDead{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-image: url('./charDeath.gif');
    background-size: cover;
    background-repeat: no-repeat;
}